/*-- scss:defaults --*/
// $headings-font-weight:  100 !default;


// fonts
// Roboto Slab; Roboto
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

// Montserrat for extra flavor, Roboto & Roboto Mono for mains, Sanchez for serifs
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto+Mono&family=Roboto:wght@200;500&family=Sanchez&display=swap');

// Fonts (CSS rules)
/*
$font-family-serif: 'Sanchez', serif; 
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace; */

// Main Color Choices: 
$outer-space:     #394648;
//$paradise-pink:   #E83F6F;
//$max-yellow:      #FBB84B;
$cultured:        #F7F6F3;
$pacific-blue:    #01A7C2;



// Base document colors
$navbar-bg:     $pacific-blue; // navbar
$navbar-fg:     $cultured; // navbar foreground elements
$navbar-hl:     $outer-space; // highlight color when hovering over navbar links
$body-bg:       $cultured; // page background 
$body-color:    $outer-space; // page text 
$footer-bg:     $pacific-blue; // footer background color
$footer-fg:     $cultured; // footer foreground elements
$link-color:    $pacific-blue; // hyperlinks 



// Navbar
$font-size-base:   1rem !default; // Assumes the browser default, typically `16px`

.navbar a { // navbar font
  font-family: "Roboto" !important;
  font-weight: 500;
}


/*-- scss:rules --*/

/* ELEMENT SELECTORS */


h1, h2, h3 {
  font-weight: 300;
} 

/*
body {
  font-family: "Roboto";
  font-weight: 300;
}
*/